<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h> Hola desde listado de familiares</h>
   
    {%for fimiliar in familiares%}
        <h1>El familiar es: {{familiar.name}}</h1>
        <h1>La edad es: {{familiar.age}}</h1>
        {%if  familia.sex == True %}
        <h1>El familiar es hombre</h1>
        {%else%}
        <h1>El familiar es mujer</h1>
     {% endif %}
        {% endfor %}


</body>
</html>